{% block content %}
<ul>
   <li>{{name}}</li>
   <li>{{name_en}}</li>
   <li>name cat: {{name_en}}</li>
   <li>{{desc}}</li>
   <li>{{desc_en}}</li>
     <li>cat: {{desc_cat}}</li>
   <li>{{price}}</li>
   <li>{{category}}</li>

</ul>
<form method = "post", enctype="multipart/form-data">
   {% csrf_token %}
   {{ form.as_p }}
   <button type="submit"> Submit</button>
</form>
{% endblock %}
<script>
document.getElementById('id_name').value = {{name}}
document.getElementById('id_name_en').value = {{name_en}}
document.getElementById('id_name_cat').value = {{name_cat}}
document.getElementById('id_desc').value = {{desc}}
document.getElementById('id_desc_en').value = {{desc_en}}
document.getElementById('id_desc_cat').value ={{desc_cat}}
document.getElementById('id_price').value = {{price}}
document.getElementById('id_category').value = {{category}}

</script>