<!DOCTYPE html>
<html>
<head>
  <title>Авторизация</title>
  {% csrf_token %} <!-- Вставка токена CSRF -->
</head>
<body>
  <h2>Авторизация</h2>
  <form action="https://reactive-cafe.com/api/signin/" method="post">
    {% csrf_token %} <!-- Вставка токена CSRF -->
    <label for="username">Имя пользователя:</label>
    <input type="text" id="uname" name="username" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="passw" name="password" required><br>

    <input type="submit" value="Войти">
  </form>
</body>
</html>
